$mapjet-footer-height: 60px;
$mapjet-text-color: #6f6f6f;
$mapjet-font-size: .8rem;

#map {
  position: relative;
  display: block;
  width: 100vw;
  height: calc(100vh - $mapjet-footer-height);
}

.mapjet-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $mapjet-font-size;
  color: $mapjet-text-color;
  height: $mapjet-footer-height;
}
